[submodule "deep-research-skills"]
	path = deep-research-skills
	url = https://github.com/liangdabiao/Claude-Code-Deep-Research-main.git
[submodule "claudekit-skills"]
	path = claudekit-skills
	url = https://github.com/mrgoonie/claudekit-skills.git
[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
[submodule "scientific-skills"]
	path = scientific-skills
	url = https://github.com/K-Dense-AI/claude-scientific-skills.git
[submodule "anthropic-skills"]
	path = anthropic-skills
	url = https://github.com/anthropics/skills.git
[submodule "awesome-claude-skills"]
	path = awesome-claude-skills
	url = https://github.com/ComposioHQ/awesome-claude-skills.git
[submodule "composio-skills"]
	path = composio-skills
	url = https://github.com/ComposioHQ/awesome-claude-skills.git
[submodule "voltagent-skills"]
	path = voltagent-skills
	url = https://github.com/VoltAgent/voltagent.git
	branch = main
[submodule "obsidian-skills"]
	path = obsidian-skills
	url = https://github.com/kepano/obsidian-skills.git
[submodule "planning-with-files"]
	path = planning-with-files
	url = https://github.com/marovole/planning-with-files.git
[submodule "skill-from-masters"]
	path = skill-from-masters
	url = https://github.com/GBSOSS/skill-from-masters.git
